html,

body{
    height: 100%;
    background-color: #e6e3ed;
}


/* Navbar */
.navbar {
    background-color: #d3c5e1;
    height: 60px;
}
.navbar ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
    margin-top: 15px;
}

.navbar li {
    margin-right: 10px;
    font-family: 'Rubik', sans-serif !important;
}

.navbar li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar li a:hover {
    background-color: #572f8b;
    border-radius: 15px;
}

/* LOGIN*/
.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    width: 360px;
    height: 530px;
    padding: 30px;
    background-color: #d3c5e1;
    border-radius: 19px;
}

input[type="email"],
input[type="username"],
input[type="password"]{
    background: #7e5aa6;
    color: #fff;
    border: 2px solid #e6e3ed;
    border-radius: 10px;
    margin-bottom: 25px;
}

input[type="email"]:focus,
input[type="username"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    background: #7e5aa6;
    color: #fff;
    margin: 0;
}

.card-title {
    font-family: 'Bowlby One SC', cursive !important;
    font-size: 32pt;
    color: #6d1a94;
    padding-top: 0px;
}

.log-font{
    font-family:  'Rubik', sans-serif !important;
    font-size: 12pt;
    color: #6d1a94;
}

.a-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #ffff;
    padding-bottom: 10px;
}

.btn{
    background: #572f8b !important;
    font-family: 'Rubik', sans-serif !important;
    color: #fff ;
    transform: translateY(10px);
    font-size: 15px;
    border: 2px solid #e6e3ed;
    border-radius: 15px;
}

