html,

body{
    background-color: #fcfeff;
}

/* Navbar */

.navbar li {
  font-family: 'Rubik', sans-serif !important;
}

.navbar li a {
  display: block;
  color: #0f0f0f !important;
  text-decoration: none;
  padding: 10px;
}

.navbar li a:hover {
  background-color: #caa4fd !important;
  border-radius: 15px;
}

/* Banner */
.banner-countent{
    height: 100%;
    color:  #8851a1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    background-color: #fcfeff;
}
.v-backgound{
background-color: #eaf7fe;
color: #514f50;
}
.f-font{  
font-family:  'Rubik', sans-serif ;
}

.btn-floating {
  position: fixed;
  right: 25px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 80px;
  border: 0;
  z-index: 9990;
  color: white;
  transition: .2s;
}

.btn-floating:hover {
  width: auto;
  padding: 0 20px;
  cursor: pointer;
}

.btn-floating span {
  font-size: 16px;
  margin-left: 5px;
  transition: .2s;
  line-height: 0px;
  display: none;
}

.btn-floating:hover span {
  display: inline-block;
}

.btn-floating:hover img {
  margin-bottom: 30px;
}

.btn-floating.whatsapp {
  bottom: 25px;
  background-color: #34af23;
  border: 2px solid #fff;
}

.btn-floating.whatsapp:hover {
  background-color: #1f7a12;
}

.btn-floating.facebook {
  bottom: 145px;
  background-color: #1876f3;
  border: 3px solid #fff;
}

.btn-floating.facebook:hover {
  background-color: #1876f3;
}
.btn-floating.instagram {
  bottom: 85px;
  background-color: #ad1aa6;
  border: 3px solid #fff;
}

.btn-floating.instagram:hover {
  background-color: #ad1aa6;
}

